#blue {
  background-color: #254bb6;
  height: 5500px;
}

#blue .blue_inner {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
}

.blue_inner .bottom_text {
  position: absolute;
  bottom: 0;
  font-size: 137px;
  font-family: "Neue Regrade";
  font-weight: 900;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  white-space: nowrap;
  transform: translateX(150vw);
}
.blue_inner .bottom_text span {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  display: inline-block;
  animation: gambak 4s ease infinite;
}

.blue_inner .bottom_text.dis_left {
  transform: translateX(-100%);
  transition: all 15s linear;
}

@keyframes gambak {
  0% {
    color: #fff;
  }
  50% {
    color: transparent;
  }
  100% {
    color: #fff;
  }
}

#videoLogo {
  background-color: #f1f1f1;
  width: 100vw;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  overflow: hidden;
}

#videoLogo .bg_video_blue {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateZ(0);
  transform-origin: center;
  pointer-events: none;
}

#videoLogo .bg_video_blue.hidden{
  transition: all 0.5s ease;
  border-radius: 9999px;
  overflow: hidden;
  transform: translate(-50%, -50%) scale(0);
  visibility: hidden;
}

#videoLogo .bg_video_blue svg {
  width: 100%;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 10;
}

.circles .circle {
  --width: 0px;
  --spacing: 50%;
  position: absolute;
  background: #254bb6;
  border-radius: 9999px;
  left: var(--spacing);
  top: 30%;
  transform: translate(-50%, -50%);
  width: var(--width);
  height: calc(var(--width) * 1);
  transition: background 0.5s ease;
}

.circles .circle.right {
  left: auto;
  right: var(--spacing);
}

.circles .circle.active {
  --width: 1500px;
  --spacing: 50%;
  background: #f1f1f1;
}

#videoLogo .next_cont {
  background-color: #f1f1f1;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
