#blue {
  background-color: #254bb6;
  height: 2500px;
}

#blue .blue_inner {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
}

.blue_inner .bottom_text {
  position: absolute;
  bottom: 0;
  font-size: 137px;
  font-family: "Neue Regrade";
  font-weight: 900;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  white-space: nowrap;
  transform: translateX(150vw);
}
.blue_inner .bottom_text span {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  display: inline-block;
  animation: gambak 4s ease infinite;
}

.blue_inner .bottom_text.dis_left {
  transform: translateX(-100%);
  transition: all 15s linear;
}

@keyframes gambak {
  0% {
    color: #fff;
  }
  50% {
    color: transparent;
  }
  100% {
    color: #fff;
  }
}

#videoLogo {
  background-color: #f1f1f1;
  width: 100vw;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
}

#videoLogo .bg_video_blue {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center;
}

#videoLogo .bg_video_blue svg {
  width: 100%;
}

#videoLogo .next_cont {
  background-color: #f1f1f1;
}
