:root {
  --primary_color: #212121;
}



#loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 9999;
  background-color: #fff;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  visibility: visible;
}

#loading.hidden {
  visibility: hidden;
  opacity: 0;
}

#loading .progress{
  margin-top: 90px;
  font-size: 70px;
  font-weight: 300;
  line-height: 89px;
  font-family: 'Butler';
}

.mask_img {
  width: 447px;
  height: 205px;
  background: url(../images/loading/glass.svg) no-repeat center / contain;
}
.bg_main {
  width: 0;
  height: 100%;
  overflow: hidden;
}
.bg_main_child {
  width: 447px;
  height: 205px;
  background-color: #000;
  mask-image: url(../images/loading/glass_bg.svg);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: Center;
}

#loading svg {
  width: 40%;
}

/* mouse_icon */
.scroll_mouse{
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 72px;
  border: 1px solid var(--primary_color);
  border-radius: 999px;
  animation: mousemove 2s ease infinite;
  transition: all 0.5s ease;
}

.scroll_mouse.hide{
  visibility: hidden;
  opacity: 0;
}

.scroll_mouse::after{
  content: "";
  width: 3px;
  height: 13px;
  border-radius: 2px;
  background-color: var(--primary_color);
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  animation: wheelmove 2s ease infinite;
}

@keyframes mousemove {
  0%{
    transform: translateX(-50%) translateY(0px);
  }
  50%{
    transform: translateX(-50%) translateY(12px);
  }
  100%{
    transform: translateX(-50%) translateY(0px);
  }
}

@keyframes wheelmove {
  0%{
    opacity: 0;
    transform: translateX(-50%) translateY(0px);
  }
  1%{
    opacity: 1;
    transform: translateX(-50%) translateY(0px);
  }
  
  50%{
    opacity: 0;
    transform: translateX(-50%) translateY(20px);
  }
  
  100%{
    opacity: 0;
    transform: translateX(-50%) translateY(20px);
  }
}

#intro {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#intro .intro_inner {
  height: 200vh;
  font-family: 'Gealova';
}

#intro .inner_cont {
  /* sticky 부모요소가 스크롤 되는동안 지정된 위치엣 보임 */
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#intro .inner_cont .logo{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

#intro .inner_cont .logo svg{
  transition: all 0.5s ease;
  transform: translateY(100%);
}

#intro:has(.rising_txt.active) .inner_cont .logo svg{
  transform: translateY(0);

}
#intro .rising_txt {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  overflow: hidden;
}


#intro .rise_inner {
  font-size: 130px;
  font-weight: 400;
  line-height: 1.3;
  color: var(--primary_color);
  transform: translateY(150%);
  transition: all 0.5s ease-in-out;
  white-space: nowrap;
  text-transform: uppercase;
}

#intro .rising_txt:nth-child(2) .rise_inner{
  padding-top: 2%;
  display: flex;
  align-items: center;
}


#intro .rise_inner span{
  font-family: "Great Vibes", cursive;
  color: #254BB6;
}

#intro .rise_inner img {
  width: 294px;
  /* height: 160px; */
  transform: translateY(-10%);
  margin-left: 30px;
}

#intro .side_txt {
  transform: translateY(150%);
  color: var(--primary_color);
  text-align: right;
  font-size: 28px;
  font-weight: 300;
  line-height: 43px;
  margin-right: 30px;
  transition: all 0.5s ease-in-out;
  font-family: 'Neue Regrade';

}

#intro .rising_txt.active .side_txt,
#intro .rising_txt.active .rise_inner{
  transform : translateY(0);
}

#intro .rising_txt.active .side_txt{
  transform: translateY(-20%);
}

#intro .grow_inner {
  height: 300vh;
  width: 100%;
}

#intro .grow_img {
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  position: sticky;
  top: 0;
  left: 0;
}

#intro .grow_inner .grow_text{
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%) translateY(300px);
  text-align: center;
  width: 100%;
  color: #fff;
  font-family: 'Neue Regrade';
  font-weight: 300;
  font-size: 25px;
  line-height: 43px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s ease;
  visibility: hidden;
  opacity: 0;
}

#intro .grow_inner:has(.grow_img.active) .grow_text{
  visibility: visible;
  opacity: 1;
  transition: all 0.5s 0.5s ease;
  transform: translateX(-50%) translateY(0px);
}

#intro .grow_img .img_box {
  width: 40vw;
  transition: all 0.5s ease;

  position: relative;
}

#intro .grow_img.active {
  height: 100vh;
}

#intro .grow_img.active.go_side{
  width: 793px;
  left: 50%;
  top: 20%;
}

#intro .grow_inner .side_text{
  position: sticky;
  top: 50%;
  left: 10%;
  width: 40%;
  height: 210px;
  transform: translateY(calc(-50% + 300px));
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}

/*  */

#intro .grow_inner .side_text_01 .num{
  font-family: 'Gealova';
  font-size: 24px;
  color: #1F309E;
}

#intro .grow_inner .side_text_01 .side_tit{
  font-family: 'Gealova';
  font-size: 40px;
  color: var(--primary_color);
  margin-top: 27px;
}

#intro .grow_inner .side_text_01 .side_desc{
  font-family: 'Neue Regrade';
  font-size: 24px;
  font-weight: 300;
  color: var(--primary_color);
  line-height: 43px;
  margin-top: 50px;
}

/*  */

#intro .grow_inner .side_text_right{
  position: sticky;
  top: 90%;
  left: 90%;
  width: 40%;
  transform: translateY(calc(-50% + 300px));
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}


#intro .grow_inner:has(.grow_img.active.go_side) .grow_text{
  visibility: hidden;
  opacity: 0;
}


#intro .grow_inner:has(.grow_img.active.go_side) .side_text{
  transform: translateY(calc(-50%));
  visibility: visible;
  opacity: 1;
  transition: all 0.5s 0.5s ease;
}

#intro .grow_inner:has(.grow_img.active.go_side) .side_text_right{
  transform: translateY(calc(-50%));
  visibility: visible;
  opacity: 1;
  transition: all 0.5s 0.5s ease;
}

#intro .grow_img.active .img_box {
  width: 100%;
  height: 100%;
}

#intro .grow_img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}

#intro .grow_img img.active {
  opacity: 1;
}
